<nav>
  <app-mostra-cartas
    (cartaSelecionada)="exibirCarta($event)"
  >
    
  </app-mostra-cartas>
</nav>
<nav>
  <app-mostra-naipes
    (naipeSelecionado)="exibirNaipe($event)"
  >
  </app-mostra-naipes>
</nav>

<main *ngIf="carta || naipe; else semCarta">
  <div id="cartaRenderizada">
    {{ carta!.valor }}
    <br/>
    <br/>
    <div id="naipeCarta">
      {{ naipe!.naipe }}
    </div>
    <br/>
    <br/>
    <div id="valorCartaAbaixo">
      {{ carta!.valor }}
    </div>
  </div>
</main>

<ng-template #semCarta>
  <main>
    Selecione uma carta para exibir
  </main>
</ng-template>

<router-outlet></router-outlet>
